{
    "goss_entry_file": "goss/goss.yaml",
    "goss_inspect_mode": "false",
    "goss_skip_install": "true",
    "goss_tests_dir": "/image-builder/images/capi/image/goss",
    "goss_vars_file": "/image-builder/images/capi/image/goss/goss-vars.yaml",
    "goss_download_path": "C:\\ProgramData\\Temp\\goss.exe",
    "goss_remote_folder": "",
    "goss_remote_path": ""
}
